/*******************************************
        Available Fonts:
        https://fonts.google.com/selection?category=Display,Handwriting,Monospace&selection.family=Faster+One|Fondamento|Fruktur|Gaegu|Julee|Kirang+Haerang|Metal+Mania|Nosifer|Piedra|Redressed|Sirin+Stencil|Trade+Winds
            font-family: 'Faster One', cursive;
            font-family: 'Fondamento', cursive;
            font-family: 'Nosifer', cursive;
            font-family: 'Trade Winds', cursive;
            font-family: 'Redressed', cursive;
            font-family: 'Julee', cursive;
            font-family: 'Gaegu', cursive;
            font-family: 'Kirang Haerang', cursive;
            font-family: 'Metal Mania', cursive;
            font-family: 'Piedra', cursive;
            font-family: 'Sirin Stencil', cursive;
            font-family: 'Fruktur', cursive;
            Changing some things
        *******************************************/

html {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(94, 87, 30), #000);
}

body {
    margin: 5%;
    padding: 5%;
}

#name {
    text-align: center;
    font-size: 4.5em;
    font-family: 'Metal Mania', cursive;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    animation: yourAnimation 5s forwards 0s ease;
}

@keyframes yourAnimation {
    0% {
        transform: rotate(0) scale(0.2) translateX(100px) translateY(-30%) skewX(0) skewY(5deg);
        transform-origin: 50% 50%;
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1.5) translateX(0px) translateY(0) skewX(0) skewY(0deg);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

#cit230 {
    font-size: 2em;
    text-align: center;
    font-family: 'Trade Winds', cursive;
    padding: 5.5%;
}

#cit230Link {
    text-decoration: none;
    color: #eae0c8;
}

#otherProjects {
    font-size: 2em;
    text-align: center;
    font-family: 'Nosifer', cursive;
}

#otherProjectsLink {
    text-decoration: none;
    color: #eae0c8;
}